body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.complete {
  text-decoration: line-through;
}

.main {
  margin: 0 auto;
  max-width: 600px;
  border: 5px solid rgb(71, 69, 155);
  border-radius: 10px;
  background-color: rgb(180, 180, 228);
  padding: 20px;
  text-align: center;
}

.button {
  padding: 5px;
  margin: 2px;
  background-color: rgb(108, 142, 173);
  cursor: pointer;
}
input {
  padding: 5px;
  margin: 2px;
}
.deleteBtn {
  background-color: brown;
}
table {
  width: 100%;
}
tr:nth-child(even){
  background-color: white;
}
