body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row {
  height: 50px;
  background-color: blue;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.night{
  background-color: black;
  color: white;
}
.day{
  background-color: white;
  color: black;
}
.content {
  width: 600px;
  padding: 50px;
  margin: 40px auto;
  text-align: center;
}

